<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleRegistro.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    {% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
        {% for msj in mensajes %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    Swal.fire({
                        icon: 'success',
                        title: '{{ msj }}',
                        showConfirmButton: false,
                        timer: 2000 // 2 segundos
                    });
                });
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
    <center>
    <h2>Menú Principal del Administrador</h2>
    </center>
    <div class="form-main">
        <div class="form-conte">
            <div class="box">
                <form action="{{ url_for('buscarm') }}" method="GET">
                    <button type="submit" class="btn iniciar-sesion-btn">Consutar Menú</button>
                </form>     
                <form action="{{ url_for('vista_prev') }}" method="GET">
                    <button type="submit" class="btn iniciar-sesion-btn">Vista previa</button>
                </form>                 
                <form action="{{ url_for('nuevo') }}" method="GET">
                    <button type="submit" class="btn iniciar-sesion-btn">Nuevo Producto</button>
                </form>
                <form action="{{ url_for('buscari') }}" method="GET">
                    <button type="submit" class="btn iniciar-sesion-btn">Ingredientes</button>
                </form>  
                <form action="{{ url_for('buscar') }}" method="GET">
                    <button type="submit" class="btn iniciar-sesion-btn">Buscar Pedidos</button>
                </form>

                <form action="{{ url_for('buscaru') }}" method="GET">
                    <button type="submit" class="btn iniciar-sesion-btn">Consultar Usuarios</button>
                </form>

                <form action="{{ url_for('registroa') }}" method="GET">
                    <button type="submit" class="btn iniciar-sesion-btn">Nuevo Administrador</button>
                </form>

                <!-- Formulario para mostrar el corte de caja -->
                <form id="corte-form" action="{{ url_for('corte') }}" method="POST">
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" required>
                    <button type="submit" class="btn iniciar-sesion-btn">Corte de Caja</button>
                </form>

                <!-- Modal para mostrar resultados -->
                <div id="modal" class="modal">
                    <div class="modal-content">
                        <span class="close-button" id="close-button">&times;</span>
                        <table id="result-table">
                            <!-- Resultados se agregarán aquí dinámicamente con JavaScript -->
                        </table>
                    </div>
                </div>

                <script>
                    document.getElementById("corte-form").addEventListener("submit", function (event) {
                        event.preventDefault();
                        fetch(this.action, {
                            method: this.method,
                            body: new FormData(this)
                        })
                        .then(response => response.json())
                        .then(data => {
                            const modal = document.getElementById('modal');
                            const resultTable = document.getElementById('result-table');
                            resultTable.innerHTML = '<tr><th>Platillo</th><th>Total Vendido</th><th>Stock Ingredientes</th></tr>';
                            data.forEach(row => {
                                resultTable.innerHTML += `<tr><td>${row.Platillo}</td><td>${row.Total_Vendido}</td><td>${row.Stock_Ingredientes}</td></tr>`;
                            });
                            modal.style.display = 'block';
                        });
                    });

                    // Cierra el modal al hacer clic en la "X"
                    document.getElementById('close-button').addEventListener('click', () => {
                        const modal = document.getElementById('modal');
                        modal.style.display = 'none';
                    });
                </script>

                <form action="{{ url_for('cerrar') }}" method="GET">
                    <button type="submit" class="btn iniciar-sesion-btn">Cerrar Sesión</button>
                </form>
            </div>
        </div>
    </div>  
</body>
</html>