<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleRegistro.css') }}">
</head>
<body>
    <div class="form-main">
        <div class="form-conte">
            <div class="box">
                <form action="{{ url_for('mc')}}" method="POST">
                    <center><h1>Mi cuenta</h1></center>
                    {% if listaUsuario %}
                    {% for alb in listaUsuario %} 
                        <div class="input-box">
                            <input type="text" Name="txtNom" placeholder="Nombre" class="input-control" value="{{alb.1}}" readonly>
                        </div>
                        <div class="input-box">
                            <input type="text" Name="txtAp" placeholder="Apellido paterno" class="input-control" value="{{alb.2}}" readonly>
                        </div>
                        <div class="input-box">
                            <input type="text" Name="txtAm" placeholder="Apellido materno" class="input-control" value="{{alb.3}}" readonly>
                        </div>
                        <div class="input-box">
                            <input type="text" Name="txtTel" placeholder="Telefono" class="input-control" value="{{alb.4}}" readonly>
                        </div>
                        <div class="input-box">
                            <input type="text" Name="txtMat" placeholder="Matricula" class="input-control" value="{{alb.5}}" readonly>
                        </div>
                        <div class="input-box">
                            <input type="text" Name="txtCorr" placeholder="Correo" class="input-control" value="{{alb.6}}" readonly>
                        </div>
                        <div class="input-box">
                            <input type="password" Name="txtPass" placeholder="Contraseña" class="input-control" value="{{alb.7}}" readonly>
                            <div class="input-link">
                                <a href="#" class="gradient-text"></a>
                            </div>
                        </div>
                        <a href=/visualizarAct/{{alb.0}}  class="btn" >Actualizar</a>
                    {% endfor %}
                    {% endif %}
                    <a href="/cliente" class="btn">Regresar al menú principal</a>
                </form>
            </div>
        </div>
    </div>    
</body>
</html>